<footer class="footer">
  <ul class="footer__social--list">
    <li class="footer__social--item">
      <a href="https://www.facebook.com/qwerqweqwq1" class="footer__social--link" target="_blank">
        <img src="/img/fb-logo.png" alt="facebook social logo" class="footer__social--img social__fb--img" />
      </a>
    </li>
    <li class="footer__social--item">
      <a href="https://www.instagram.com/_qwertyuz/" class="footer__social--link" target="_blank">
        <img src="/img/instagram-logo.png" alt="instagram social logo" class="footer__social--img social__ig--img" />
      </a>
    </li>
    <li class="footer__social--item">
      <a href="https://x.com/heech8z" class="footer__social--link" target="_blank">
        <img src="/img/x_logo.svg" alt="x/twitter social logo" class="footer__social--img social__x--img" />
      </a>
    </li>
  </ul>
  <ul class="footer__nav--list">
    <li class="footer__nav--item">
      <a href="/" class="footer__nav--link">
        Home
      </a>
    </li>
    <li class="footer__nav--item">
      <a href="/about" class="footer__nav--link">
        About
      </a>
    </li>
    <li class="footer__nav--item">
      <a href="/contact" class="footer__nav--link">
        Contact Us
      </a>
    </li>
    <li class="footer__nav--item">
      <a href="/terms" class="footer__nav--link">
        Terms
      </a>
    </li>
    <li class="footer__nav--item">
      <a href="/privacy-policy" class="footer__nav--link">
        Privacy Policy
      </a>
    </li>
  </ul>
  <p class="footer__credits">
    Mark Ian Bustillo © 2024
  </p>
</footer>