<div class="container">
  <div class="main__introduction">
    <p class="main__introduction--title">
      Basic CRUD app using Node.js, Express.js, EJS, MongoDB and Visual Studio
      Code.
    </p>
    <p class="main__introduction--desc">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat numquam
      harum, a eaque optio repellendus ipsa.
    </p>
  </div>
  <ul class="main__logo">
    <li class="main__logo--item">
      <a href="https://nodejs.org/en" class="main__logo--link" target="_blank">
        <img
          src="/img/node-js.png"
          alt="Node.js logo"
          class="main__logo--img"
        />
      </a>
      <div class="main__logo--item--tooltip">
        <p class="main__logo--tooltip-desc">
          <b>Node.js:</b> A JavaScript runtime built on Chrome's V8 engine,
          ideal for building scalable server-side applications.
        </p>
      </div>
    </li>
    <li class="main__logo--item">
      <a href="https://expressjs.com/" class="main__logo--link" target="_blank">
        <img
          src="/img/express-js.png"
          alt="Express.js logo"
          class="main__logo--img"
        />
      </a>
      <div class="main__logo--item--tooltip">
        <p class="main__logo--tooltip-desc">
          <b>Express.js:</b> A lightweight and flexible web framework for
          Node.js, used to create robust and efficient web applications.
        </p>
      </div>
    </li>
    <li class="main__logo--item">
      <a href="https://ejs.co/" class="main__logo--link" target="_blank">
        <img src="/img/ejs.svg" alt="EJS logo" class="main__logo--img" />
      </a>
      <div class="main__logo--item--tooltip">
        <p class="main__logo--tooltip-desc">
          <b>EJS (Embedded JavaScript):</b>A simple template engine that lets
          you generate HTML markup with plain JavaScript.
        </p>
      </div>
    </li>
    <li class="main__logo--item">
      <a
        href="https://www.mongodb.com/"
        class="main__logo--link"
        target="_blank"
      >
        <img
          src="/img/mongodb.png"
          alt="MongoDB logo"
          class="main__logo--img"
        />
      </a>
      <div class="main__logo--item--tooltip">
        <p class="main__logo--tooltip-desc">
          <b>MongoDB:</b> A NoSQL database designed for high performance,
          flexibility, and easy scalability, often used for storing JSON-like
          documents.
        </p>
      </div>
    </li>
    <li class="main__logo--item">
      <a
        href="https://code.visualstudio.com/"
        class="main__logo--link"
        target="_blank"
      >
        <img
          src="/img/vs-code.svg"
          alt="Visual Studio Code logo"
          class="main__logo--img"
        />
      </a>
      <div class="main__logo--item--tooltip">
        <p class="main__logo--tooltip-desc">
          <b>Visual Studio Code:</b> A powerful, free code editor from
          Microsoft, known for its extensive plugin ecosystem and excellent
          debugging capabilities."
        </p>
      </div>
    </li>
  </ul>
</div>
